* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

input, button, textarea, select {
  outline: none;
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}
